<!doctype html>
<html lang="es_ES">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet">
	<title> {% block title %} {% endblock %} | Compuclínica</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="{{STATIC_URL}}main/fav128.png" sizes="128x128">

	


	<link rel="stylesheet" media="screen" href="{{STATIC_URL}}main/bootstrap/css/bootstrap.min.css">

	
	<link rel="stylesheet" href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}main/chosen/chosen-bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}main/chosen/chosen.min.css">

	<link rel="stylesheet" href="{{STATIC_URL}}main/select2/select2.css">
	<link rel="stylesheet" href="{{STATIC_URL}}main/select2/select2-bootstrap.css">
	
	<link rel="stylesheet" href="{{STATIC_URL}}main/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
	
	
	<link rel="stylesheet" href="{{STATIC_URL}}main/css/style.css">

    {% block css %}{% endblock %}
    {% block js_head %}{% endblock %}


	<!--[if lt IE 9]>
      <script src="{{STATIC_URL}}main/js/html5shiv/html5shiv.js"></script>
      <script src="{{STATIC_URL}}main/js/respond/respond.src.js"></script>
 	<![endif]-->

</head>
<body>
	<!--[if lt IE 8]>
		<div class="jumbotron">
	        <p >Esta apiclación no esta hecha para navegadores tan obsoletos. Use Navegadores como Chrome, Firefox o Internet Explorer 9</p>
	    </div>
	<![endif]-->


	


	{% block body %}{% endblock %}



	<script src="{{STATIC_URL}}main/js/jquery.min.js"></script>	
	<script src="{{STATIC_URL}}main/bootstrap/js/bootstrap.min.js"></script>	
	<script src="{{STATIC_URL}}main/chosen/chosen.jquery.min.js"></script>	
	<script src="{{STATIC_URL}}main/select2/select2.min.js"></script>	
	<script src="{{STATIC_URL}}main/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>	
	<script src="{{STATIC_URL}}main/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js"></script>	

	{% if user.is_authenticated %}
	<script src="{{STATIC_URL}}main/js/app.js?v=004"></script>	
	{% endif %}
	{% block js_body %} {% endblock %}
</body>
</html>