{% extends 'shell.html' %}

{% block title %} Estudiante {% endblock %}

{% block sidebar_left %}

<div class="panel panel-default">

	<IMG SRC="media/images/tesis_image.jpg" WIDTH=178 HEIGHT=180 ALT="tesis_image">
	<div class="panel-heading">ACCIONES</div>


	<div class="list-group nav-servicios">

		<a href="{% url 'principal.views.home' %}" class="list-group-item">
			<span class="badge">{{num_total}}</span> 
			<i class="fa fa-calendar fw"></i> Informacion de Trabajo de Grado
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item ">
			<span class="badge">{{num_cola}}</span>
			<i class="fa fa-clock-o fw"></i>  Opcion 2
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item "> 
			<span class="badge">{{num_revision}}</span>
			<i class="fa fa-wrench fw"></i> Opcion 3
		</a>

		<a href="{% url 'principal.views.home'  %}" class="list-group-item ">
			<span class="badge">{{num_reparado}}</span>
			<i class="fa fa-check fw"></i> Opcion 4
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item ">
			<span class="badge">{{num_entregado}}</span>
			<i class="fa fa-smile-o fw"></i> Opcion 5
		</a>	

	</div>
	

</div> <!-- end panel -->


{% endblock sidebar_left %}

{% block content %}
	
{% endblock %}