{% extends 'shell.html' %}

{% block title %} Home {% endblock %}

{% block css %}
	<style>
		.item {text-align: center;}
		h1 { font-size: 5em;}
	</style>
{% endblock %}



{% block sidebar_left %}
	{% if user.tipo == user.ESTUDIANTE%}
		{% include "principal/widgets/nav_estudiante.html" %}
	{% endif %}
{% endblock sidebar_left %}



{% block header %}

<ul class="nav navbar-nav">
		<li><p class="navbar-text">Bienvenido (a)</p></li>
	</ul> <!-- end navbar-header -->

{% endblock header %}

{% block content %}

	<div class="jumbotron">
        <h1>Thesis</h1>
		<p>La forma sencilla de administrar y hacer seguimiento a tus trabajos de grado.</p> 
		
 	 	    <head>
			    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
			    <script type="text/javascript">
			      google.load("visualization", "1", {packages:["corechart"]});
			      google.setOnLoadCallback(drawChart);
			      function drawChart() {
			        var data = google.visualization.arrayToDataTable([
			          ['Task', 'Hours per Day'],
			          ['Work',     11],
			          ['Eat',      2],
			          ['Commute',  2],
			          ['Watch TV', 2],
			          ['Sleep',    7]
			        ]);

			        var options = {
			          title: 'My Daily Activities',
			          is3D: true,
			        };

			        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
			        chart.draw(data, options);
			      }
			    </script>
  			</head>
  <body>
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
  </body>
  	</body>    
    </div>
	
	<div class="row">

		{% if user.tipo == user.ESTUDIANTE%}

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			<a href="{{estudiante.trabajosgrado_codigo.get_absolute_url}}" class="btn btn-primary btn-lg btn-block">Trabajo de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-cogs"></i></h1>
			<a href="#" class="btn btn-primary btn-lg btn-block">Pasantía</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ estudiante.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-folder-open"></i></h1>
			<a href="{% url 'estudiante_pdf' user.dni%}" class="btn btn-primary btn-lg btn-block">Generar Reporte de Estudiante</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-file"></i></h1>
			<a href="{% url 'lista_trabajos_pdf'%}" class="btn btn-primary btn-lg btn-block">Ver trabajos de grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-file"></i></h1>
			<a href="{% url 'reporte_criterios_pdf'%}" class="btn btn-primary btn-lg btn-block">Reporte de Criterios</a>	
		</div>

		{% endif %}
					
	</div>


{% endblock %}