{% extends 'shell.html' %}

{% block title %} Home {% endblock %}

{% block css %}
	<style>
		.item {text-align: center;}
		h1 { font-size: 5em;}
	</style>
{% endblock %}



{% block sidebar_left %}
	{% if user.tipo == user.ESTUDIANTE %}
		{% include "principal/widgets/nav_estudiante.html" %}
	{% endif %}
	
	{% if user.tipo == user.ASESOR %}
		{% include "principal/widgets/nav_asesor.html" %}
	{% endif %}

	{% if user.tipo == user.COORDINADOR %}
		{% include "principal/widgets/nav_coordinador.html" %}
	{% endif %}

	{% if user.tipo == user.JURADO %}
		{% include "principal/widgets/nav_jurado.html" %}
	{% endif %}

	{% if user.tipo == user.DIRECTOR %}
		{% include "principal/widgets/nav_director.html" %}
	{% endif %}
{% endblock sidebar_left %}



{% block header %}

<ul class="nav navbar-nav">
		<li><p class="navbar-text">Bienvenido (a)</p></li>
	</ul> <!-- end navbar-header -->

{% endblock header %}

{% block content %}

	<div class="jumbotron">
        <h1>Thesis</h1>
		<p>La forma sencilla de administrar y hacer seguimiento a tus trabajos de grado.</p>     
    </div>
	
	<div class="row">

		{% if user.tipo == user.ESTUDIANTE%}

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			<a href="{{estudiante.trabajosgrado_codigo.get_absolute_url}}" class="btn btn-primary btn-lg btn-block">Trabajo de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-cogs"></i></h1>
			<a href="#" class="btn btn-primary btn-lg btn-block">Pasantía</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ estudiante.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>

		{% endif %}

		{% if user.tipo == user.ASESOR%}
		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			
			<a href="{% url 'trabajos_grado_list_asesor' perfil.dni %}" class="btn btn-primary btn-lg btn-block">
				Listar Trabajos de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ asesor.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>
		{% endif %}

		{% if user.tipo == user.COORDINADOR %}
		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			
			<a href="{% url 'trabajos_grado_list_coordinador' perfil.dni %}" class="btn btn-primary btn-lg btn-block">
				Listar Trabajos de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ coordinador.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-cog"></i></h1>
			<a href="/admin" class="btn btn-primary btn-lg btn-block">Panel Administrativo</a>	
		</div>

		{% endif %}

		{% if user.tipo == user.JURADO %}
		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			
			<a href="{% url 'trabajos_grado_list_jurado' perfil.dni %}" class="btn btn-primary btn-lg btn-block">
				Listar Trabajos de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ jurado.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>
		{% endif %}

		{% if user.tipo == user.DIRECTOR %}

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-book"></i></h1>
			<a href="{% url 'trabajos_grado_list_director' perfil.dni %}" class="btn btn-primary btn-lg btn-block">Listar Trabajos de Grado</a>	
		</div>

		<div class="col-sm-4 item">
			<h1 ><i class="fa fa-cogs"></i></h1>
			<a href="#" class="btn btn-primary btn-lg btn-block">Pasantía</a>	
		</div>

		<div class="col-sm-4 item">
			<h1><i class="fa fa-user"></i></h1>
			<a href="{{ director.get_absolute_url }}" class="btn btn-primary btn-lg btn-block">Perfil</a>	
		</div>

		{% endif %}

	</div>


{% endblock %}