{% extends 'shell.html' %}

{% block title %} Home {% endblock %}

{% block sidebar_left %}

<div class="panel panel-default">

	<IMG SRC="media/images/tesis_image.jpg" WIDTH=178 HEIGHT=180 ALT="tesis_image">
	<div class="panel-heading">ACCIONES</div>


	<div class="list-group nav-servicios">

		<a href="{% url 'principal.views.home' %}" class="list-group-item">
			<span class="badge">{{num_total}}</span> 
			<i class="fa fa-calendar fw"></i> Opcion 1
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item ">
			<span class="badge">{{num_cola}}</span>
			<i class="fa fa-clock-o fw"></i>  Opcion 2
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item "> 
			<span class="badge">{{num_revision}}</span>
			<i class="fa fa-wrench fw"></i> Opcion 3
		</a>

		<a href="{% url 'principal.views.home'  %}" class="list-group-item ">
			<span class="badge">{{num_reparado}}</span>
			<i class="fa fa-check fw"></i> Opcion 4
		</a>

		<a href="{% url 'principal.views.home' %}" class="list-group-item ">
			<span class="badge">{{num_entregado}}</span>
			<i class="fa fa-smile-o fw"></i> Opcion 5
		</a>	

	</div>
	

</div> <!-- end panel -->


{% endblock sidebar_left %}

{% block content %}

	<div class="jumbotron">
        <h1>Thesis</h1></br>
	  <p>La forma sencilla de administrar y hacer seguimiento a tus trabajos de grado.</p>     
    </div>
	
	<div class="row">

		<div class="col-lg-4">
			<div class="panel">
				<div class="panel-heading">
					<h5>Trabajos de Grado</h5>
				</div>
				<p>Informacion de Trabajos de Grado</p>
				<a class="btn btn-primary btn-lg btn-block">Ver</a>
			</div>
		</div>

		{% if user.tipo == 'Coordinador T.Grado' %}
		<div class="col-lg-4">
			<div class="panel">
				<div class="panel-heading">
					<h5>XXXX</h5>
				</div>
				<p>Todo sobre xxxxx</p>
				<a class="btn btn-primary btn-lg btn-block">Ver</a>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="panel">
				<div class="panel-heading">
					<h5>Estadísticas</h5>
				</div>
				<p>Todo sobre estadísticas</p>
				<a class="btn btn-primary btn-lg btn-block">Ver</a>
			</div>
		</div>
		{% endif %}
					
	</div>


{% endblock %}